
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//CodeMirror
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
.CodeMirror {
  width: 100%;
  height: auto;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
.CodeMirror:focus-within {
  color: #495057;
  background-color: #fff;
  border-color: #a1cbef;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

//table
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

//nav
.navbar-light {
  background-color: white !important;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  margin-bottom: 2em;
}

//avatar
.img-square {
  object-fit: cover;
  aspect-ratio: 1;
}

.navbar-brand{
  font-family: 'Satisfy';
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand div{
  margin-bottom: -3px;
  display: inline-block !important;
  vertical-align: bottom;
}

//Bootstrap
.lead {
  font-weight: 400; //orig: 300
}

.card-header {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.125rem;
}

.pagination {
  justify-content: center;
}

  //Vue
  [v-cloak]  > * { display:none; }
  [v-cloak]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url(/svg/oval.svg);
    background-size: cover;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px + 60px;
  }
  .footer {
    padding: 0 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    text-align: center;
  }
  
  .footer div span a {
    color: #6c757d !important;
  }

  /*navbar*/
  .box-shadow {
    /*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
    box-shadow: 0 .05rem .25rem rgba(0, 0, 0, .05);
  }

  .container-fluid {
    margin-top: 60px;
  }

  main > .container {
    margin-top: 60px;
  }
  
