html { /*http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css */
    padding-top: 80px;
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
  }
  
  .footer > .container .text-muted {
    margin: 8px 0;
    font-size:100%;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .jumbotron {
    background-color:rgba(238, 238, 238, 0.5);
  } 

  .home { 
    text-align:center;
  }

  .home h1 {
    font-size: 700%;
    font-family: 'Cookie';
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .home p {
    font-size: 200%;
    font-family: 'Cookie', cursive;
    font-weight: 100;
    margin-top: 20px;
  }

  .navbar-brand {
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

  .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:30%;
}

.thumb {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%) !important;
      -ms-transform: translate(-50%,-50%) !important;
          transform: translate(-50%,-50%) !important;
}
.thumb img.portrait {
  width: 100%;
  height: auto;
}

/* cookie-regular - latin */
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'),
       url('../fonts/cookie-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cookie-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
