html { 
    padding-top: 0px;
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px !important;
  }

/*!
 * from Start Bootstrap - One Page Wonder (http://startbootstrap.com/template-overviews/one-page-wonder)
 */
  header.masthead {
    background: url('/img/friends.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding-top: 1rem;
    padding-bottom: 20rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding-top: 1rem;
        padding-bottom: 30rem;
    }
}


.overlay > h1 {
	font-size: 800%;
	font-family: 'Cookie', cursive;
	font-weight: 500;
	margin-top: 0px;
    margin-bottom: 0px;
    color:white;
}

.overlay p {
	font-size: 250%;
	font-family: 'Cookie', cursive;
	font-weight: 100;
    margin-top: 20px;
    color:white;
}

.media {
    padding-top: 20px;
}

td {
    padding: 5px;
}

/* cookie-regular - latin */
@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: local('Cookie-Regular'),
         url('../fonts/cookie-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cookie-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  